[toolchain]
anchor_version = "0.29.0"
solana_version = "1.18.11"

[features]
seeds = false
skip-lint = false
[programs.localnet]
twitter = "F6NKeaoPbchYnbcJZ5YSAqfMcHuP7GLExTuDK3qmgtgW"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
